.button {
  color: #f9fafb;
  background-color: #3182f6;
  margin: 30px 15px 0px 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  white-space: nowrap;
  text-align: center;
  /* vertical-align: middle; */
  cursor: pointer;
  border: 0 solid transparent;
  user-select: none;
  transition: background 0.2s ease, color 0.1s ease;
  text-decoration: none;
  border-radius: 7px;
  padding: 11px 16px;
  width: 250px;
}

.button:hover {
  color: #fff;
  background-color: #1b64da;
}

button:disabled,
input:disabled {
  opacity: 80%;
  cursor: not-allowed;
}

button,
input,
textarea {
  font-family: Toss Product Sans, -apple-system, BlinkMacSystemFont,
  Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto,
  Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol, Noto Color Emoji;
}

.box_section {
  align-items: center;
  text-align: center;
  overflow-x: auto; /* Add this property for horizontal scrolling */
  white-space: nowrap; /* Prevent text wrapping */
}